ACTION=="add|change", SUBSYSTEM=="ieee80211", KERNEL=="phy0", \
    RUN+="/sbin/iw phy %k interface add uap0 type __ap", \
    RUN+="/sbin/iw phy %k interface add sta0 type station", \
    RUN+="/bin/ip link set uap0 address 00:11:22:33:44:55", \
    RUN+="/bin/ip link set sta0 address 00:11:22:33:44:66" 
    